<p style="color: green"><%= notice %></p>

<h1>Trabajos</h1>

<div id="publications">
  <% @publications.each do |publication| %>
    <%= render publication %> <br>
    <p>
      <%= link_to "Mostrar esta publicación", publication, class: "btn btn-dark" %>
    </p>
  <% end %>
</div>

<%= link_to "Nueva Publicación", new_publication_path, class: "btn btn-warning"%>
