<div id="<%= dom_id postulation %>">
  <p>
    <strong>Publication:</strong>
    <%= postulation.publication.title %> <!--Con eso me muestra el titulo antes era -->
  </p>            <!--Con eso me muestra el titulo antes era  postulation.publication_id -->

</div>
