<h1>Editando la publicación</h1>

<%= render "form", postulation: @postulation %>

<br>

<div>
  <%= link_to "Mostrar esta postulación", @postulation, class:"btn btn-dark" %>
  <%= link_to "Volver a las ofertas laborales", publications_path, class:"btn btn-dark" %>
</div>
