<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EstebanJobs</title>
</head>
<body>
  <header>
    <h1>EstebanJobs</h1>
  </header>

  <div class="container">
    <% if user_signed_in? %>
      <p>Bienvenido, <%= current_user.email %></p>
    <% else %>
      <p>Por favor, inicia sesión para ver nuestras ofertas laborales.</p>
      <div class="login-link">
        <%= link_to "Iniciar Sesión", new_user_session_path , class: "btn btn-warning"  %>
      </div>
    <% end %>
  </div>
</body>
</html>